.gallery-block {
  padding-bottom: 10px;
  padding-top: 50px;
}

.gallery-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.compact-gallery .item {
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 10px;
  background: transparent;
  opacity: 1;
}

.gallery-block.compact-gallery .item .image {
  transition: 0.8s ease;
  height: 350px;
  width: 120%;
}

.gallery-block.compact-gallery .item .image-atas {
  transition: 0.8s ease;
  height: 250px;
  width: 120%;
}

.gallery-block.compact-gallery .item .info {
  position: relative;
  display: inline-block;
}

.description p {
  padding: 30% 0 15px 10%;
}

.description span {
  padding: 30% 0 15px 10%;
}

.gallery-block.compact-gallery .item .description {
  display: grid;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 1;
  color: #fff;
  transition: 0.8s ease;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading {
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body {
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
}

@media (min-width: 576px) {
  .gallery-block.compact-gallery .item .description {
    opacity: 0;
  }
  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1;
  }
  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

@media (max-width: 991.98px) {
  .description p {
    padding: 5% 5% 5% 5%;
    font-size: small;
  }
  .description span {
    font-size: small;
    padding-top: 0%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 0%;
  }
}