@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@400;700&display=swap');
* {
    font-family: 'Newsreader', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

body {
    overflow-x: hidden;
    padding-bottom: 50px;
}

p {
    line-height: 1.2rem;
}

#kiri {
    font-size: 0.8rem !important;
    font-weight: 600;
}

#kanan {
    font-size: 0.8rem !important;
    color: #757180 !important;
    font-weight: 600;
}

.carousel-item img {
    max-height: 100vh;
    object-fit: cover;
}

.rubicon {
    color: #333999 !important;
}

.rubicon p {
    font-family: 'Newsreader'!important;
}

.rubicon .h4 {
    font-family: 'Newsreader'!important;
    font-weight: 700;
    font-size: 16pt;
}

.head {
    font-weight: bold;
    position: absolute;
    z-index: 2;
    font-size: 4rem;
    top: 20%;
    left: 10%;
    right: 90%;
    text-shadow: #474747;
}

/* AWAL NAVBAR */

nav .nav-item {
    font-size: 13pt;
    color: black;
    margin-left: 10px;
    background-color: transparent;
}

.navbar a {
    display: block;
    text-decoration: none;
    border-bottom: 1.5px solid transparent;
}

nav .active {
    font-weight: bold;
    position: relative;
    border-bottom: 1.5px solid #333999;
}

.navbar .navbar-nav .nav-link {
    position: relative;
    float: right;
    align-content: flex-end;
}

.navbar .navbar-nav .nav-link:hover {
    transition: all 0.5s;
    color: #333999 !important;
}

.navbar .navbar-nav .nav-link::after {
    position: absolute;
    transition: all 0.5s;
    content: ' ';
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #333999;
    /* color: transparent; */
    width: 0%;
    height: 1.5px;
}

.navbar .navbar-nav .nav-link:hover::after {
    width: 80%;
    bottom: 1;
    height: 1.5px;
}

/* Akhir Navbar */

footer {
    font-size: 8pt;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.project {
    height: 250px !important;
    width: auto;
    cursor: pointer;
}

/* p {
    font-size: 13pt;
} */

#active-member p {
    font-size: 9pt !important;
}

#member {
    font-size: 9pt !important;
    font-weight: 700;
}

.post {
    animation: fadein 5s;
    -webkit-animation: fadein 5s;
}

.post:hover {
    box-shadow: 0 15px 20px rgba(14, 61, 218, 0.12), 0 4px 8px rgba(0, 0, 0, .06);
    transform: scale(1.03);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.w3-animate-bottom {
    position: relative;
    animation: animatebottom 2s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.text-animate-bottom {
    position: relative;
    animation: animatebottomtext 2s
}

@keyframes animatebottomtext {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.card {
    margin: 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(221, 145, 150, 0.144), 0 0 6px rgba(226, 51, 51, 0.05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
}

.card-index {
    border-radius: 5px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    border-color: #0f4275;
    animation: fadein 5s;
    -webkit-animation: fadein 5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bg-blues {
    background-color: #0f4275;
}

.text-blues {
    color: #0f4275;
}

.btn-blues {
    color: #fff;
    background-color: #0f4275;
    border-color: #fff;
}

.bg-native {
    color: #000;
    background-color: #ececec;
}

.sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 14%;
}

.sidebar-fixed {
    position: fixed;
    font-weight: bold;
}

#judul {
    font-size: 16pt;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: -20px;
}

#fungsi {
    font-size: 0.8rem !important;
    font-weight: 600;
}

@media (max-width: 991.98px) {
    nav {
        background-color: white;
    }
    nav .nav-item {
        justify-content: center;
    }
    .card {
        margin: 30px;
    }
    #judul {
        font-size: 13pt;
        font-weight: bold;
    }
    footer {
        text-align: center;
    }
    #fungsi {
        padding: 0px 30px;
    }
    .carousel-item img {
        height: 300px;
    }
    .head {
        font-weight: bold;
        position: absolute;
        text-align: center;
        z-index: 2;
        text-justify: inter-word;
        font-size: 1rem;
        top: 30%;
        left: 20%;
        text-shadow: #474747;
    }
    .sticky-sidebar {
        display: none;
        clear: both;
        visibility: hidden;
        top: 0;
    }
    .card {
        align-items: flex-end;
    }
    #active-member {
        border: 0px solid;
        margin: 0;
    }
}